*.d
*.o
.d/
.o/
*.dat


IsPrime/.d/IsPrime.d
IsPrime/.d/BPSWTest.d
IsPrime/.o/BPSWTest.o

IsPrime/bin/IsPrimeTFalse
IsPrime/bin/MainProgram
IsPrime/bin/false/IsPrimeTFalse
IsPrime/bin/false/SliceTBalance.txt
IsPrime/bin/true/IsPrimeTTrue
IsPrime/bin/true/SliceTBalance.txt
IsPrime/bin/main
IsPrime/bin/IsPrimeTTrue
IsPrime/bin/mainMeasurement
IsPrime/bin/false/SliceT.txt
IsPrime/bin/true/SliceT Joint.txt
IsPrime/MeasurementOnPrime_10.txt
IsPrime/MeasurementOnPrime_24.txt
prime17/bin/false/mainW
prime17/bin/true/mainW
prime17/bin/mainW
prime17/PrimeBitStatistics_37.txt
prime17/PrimeBitStatistics.txt
prime17/bin/linux_prime17.zip
prime17/bin/prime17
