Source: prime17
Section: misc
Priority: optional
Maintainer: Martin Zeman <martin.zeman17@gmail.com>
Build-Depends: libc6
Standards-Version: 3.9.2
Homepage: http://prime17.000webhostapp.com

Package: prime17
Architecture: any 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is a prime17 package
 For details go to web site prime17.000webhostapp.com