Source: prime17
Section: misc
Priority: optional
Maintainer: Martin Zeman <martin.zeman17@gmail.com>
Build-Depends: libc6, debhelper (>= 11~), libjsoncpp-dev, libcurl4-openssl-dev, libgmp3-dev, libncurses5-dev, libncursesw5-dev
Standards-Version: 4.1.4
Homepage: http://prime17.000webhostapp.com

Package: prime17
Architecture: amd64 
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is a prime17 package
 For details go to web site prime17.000webhostapp.com
